# -*- mode: snippet -*-
# name: bs-al
# key: bs-al
# --
<div class="alert ${1:$$(yas-choose-value '("alert-danger" "alert-warning" "alert-info" "alert-success"))}" role="alert">
  <strong>${3:Alert label}</strong> ${3:Alert message.}
</div>