# -*- mode: snippet -*-
# name: bs-ald
# key: bs-ald
# --
<div class="alert ${1:$$(yas-choose-value '("alert-danger" "alert-warning" "alert-info" "alert-success"))} alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <strong>${2:Alert label}</strong> ${3:Alert message.}
</div>