# -*- mode: snippet -*-
# name: bs-btna
# key: bs-btna
# --
<a href="${3:#}" role="button" class="btn ${1:$$(yas-choose-value '("btn-link" "btn-danger" "btn-warning" "btn-info" "btn-success" "btn-secondary" "btn-primary"))}">${2:button content}</a>