# -*- mode: snippet -*-
# name: bs-btn
# key: bs-btn
# --
<button type="button" class="btn ${1:$$(yas-choose-value '("btn-link" "btn-danger" "btn-warning" "btn-info" "btn-success" "btn-secondary" "btn-primary"))}">${2:button content}</button>