# -*- mode: snippet -*-
# name: bs-cki
# key: bs-cki
# --
<div class="checkbox-inline">
  <label>
    <input type="checkbox" name="${1:options}" id="$1" value="$3"> ${2: Check me out}
  </label>
</div>
