# -*- mode: snippet -*-
# name: bs-fgfi
# key: bs-fgfi
# --
<fieldset class="form-group">
  <label for="${1:name}">${2:Email address}</label>
  <input type="file" class="form-control-file" name="$1" id="$1">
</fieldset>