# -*- mode: snippet -*-
# name: bs-fgse
# key: bs-fgse
# --
<fieldset class="form-group">
  <label for="${1:name}">${2:Email address}</label>
  <select class="form-control" name="$1" id="$1">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
</fieldset>