# -*- mode: snippet -*-
# name: bs-fgta
# key: bs-fgta
# --
<fieldset class="form-group">
  <label for="${1:name}">${2:Email address}</label>
  <textarea class="form-control" name="$1" id="$1" rows="3"></textarea>
</fieldset>