# -*- mode: snippet -*-
# name: bs-fg
# key: bs-fg
# --
<fieldset class="form-group">
  <label for="${1:name}">${2:Email address}</label>
  <input type="${3:text}" name="$1" id="$1" class="form-control" placeholder="${4: Enter somthing.}" value="$5">
</fieldset>