# -*- mode: snippet -*-
# name: bs-ig
# key: bs-ig
# --
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">${1:@}</span>
  <input type="${2:text}" class="form-control" placeholder="${3:Enter somthing}">
</div>