# -*- mode: snippet -*-
# name: bs-lbp
# key: bs-lbp
# --
<span class="label label-pill ${1:$$(yas-choose-value '("label-danger" "label-warning" "label-info" "label-success" "label-default" "label-primary"))}">${2:content}</span>