# -*- mode: snippet -*-
# name: bs-lb
# key: bs-lb
# --
<span class="label ${1:$$(yas-choose-value '("label-danger" "label-warning" "label-info" "label-success" "label-default" "label-primary"))}">${2:content}</span>