# -*- mode: snippet -*-
# name: bs-lp-
# key: bs-lp-
# --
<a href="${2:#}" class="list-group-item ${1:$$(yas-choose-value '("btn-danger" "btn-warning" "btn-info" "btn-success" ""))} ${3:active}">${4:content}</a>