# -*- mode: snippet -*-
# name: bs-navh
# key: bs-navh
# --
<nav class="nav">
  <a class="nav-link active" href="#">${1:Active}</a>
  <a class="nav-link" href="#">${2:Link}</a>
  ${3:<a class="nav-link disabled" href="#">Disabled</a>}
</nav>