# -*- mode: snippet -*-
# name: bs-pop
# key: bs-pop
# --
data-toggle="popover" data-placement="${1:$$(yas-choose-value '("left" "bottom" "right" "top"))}" title="${2:Popover title}" data-content="${3:Popover content}"