# -*- mode: snippet -*-
# name: bootstrap progress.
# key: bs-progress
# --
<progress class="progress" value="$1" max="${2:100}">
  <div class="progress">
    <span class="progress-bar" style="width: $1%;">${1:0}%</span>
  </div>
</progress>