# -*- mode: snippet -*-
# name: bs-pager
# key: bs-pager
# --
<!-- Pager -->
<nav>
  <ul class="pager">
    <li class="pager-prev disabled"><a href="#">${1:Older}</a></li>
    <li class="pager-next"><a href="#">${2:Newer}</a></li>
  </ul>
</nav>